@charset "UTF-8";

:root{
    --cor1: #1b1b1b ;
    --cor2: #2c414d ; 
}

body{
    background-color: var(--cor1);
}

nav{
    background-color: var(--cor2);
    color: white;
}

main{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

span.dados-1{
    padding: 10px 80% 10px 10px;
}

div>img{
    border: 2px solid white;
    border-radius: 100%;
}

